.footer-container {
  background: #f4f5f6;
  height: 70px;
  border-radius: 2px;
}

.footer-container > .row {
  height: 100%;
}

.footer-container .md-form {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-container button {
  margin: 0 !important;
}

.retrieve-policy-col {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-container .modal-content {
  border-radius: 0.3rem !important;
}

.footer-container .modal-content table tr > td:first-child {
  font-weight: 400;
}
