.footer-container {
  position: relative;
  top: -80px;
  background: #f4f5f6;
  height: 80px;
}

.footer-container > .row {
  height: 100%;
}

.retrieve-policy-col {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-container .modal-content {
  border-radius: 0.3rem !important;
}

.footer-container .modal-content table tr > td:first-child {
  font-weight: 400;
}
