.header {
  height: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.header .title {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.accordion button {
  margin: 0 !important;
  padding: 0 !important;
  text-transform: none !important;
}
